:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}
a:hover {
    color: #535bf2;
}

body {
    padding: 10px;
    display: flex;
    min-width: 320px;
    min-height: 100vh;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

#app {
    width: 100%;
    box-sizing: border-box;
}

@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }
    a:hover {
        color: #747bff;
    }
    button {
        background-color: #f9f9f9;
    }
}

.sidebar {
    grid-area: sidebar;
}

.content {
    grid-area: content;
    position: relative;
}

.wrapper {
    width: 100%;
    display: grid;
    box-sizing: border-box;
    grid-gap: 10px;
    grid-template-columns: 260px 33% auto;
    grid-template-areas:
        'header  header header'
        'sidebar content content'
        'footer  footer footer';
    background-color: #fff;
    color: #444;
}

.box {
    box-sizing: border-box;
    background-color: #444;
    color: #fff;
    border-radius: 5px;
    padding: 5px;
    font-size: 100%;
}

.header {
    grid-area: header;
    text-align: center;
}

.footer {
    grid-area: footer;
    min-height: 20px;
}

.header,
.footer {
    box-sizing: border-box;
    padding: 10px;
    background-color: #999;
}

.topleft {
    position: absolute;
    top: 0;
    left: 0;
}

.topright {
    position: absolute;
    top: 0;
    right: 0;
}

.bottomleft {
    position: absolute;
    bottom: 0;
    left: 0;
}

.bottomright {
    position: absolute;
    bottom: 0;
    right: 0;
}
