name: Update Dependencies Main

on:
  push:
    branches:
      - main
    paths:
      - '**/package.json'
      - '**/package-lock.json'

  workflow_dispatch:
  schedule:
    - cron: '0 12 * * 0'

jobs:
  update-dependencies:
    if: github.repository_owner == 'streetsidesoftware'
    runs-on: ubuntu-latest
    env:
      NEW_BRANCH: 'update-dependencies-main'
    steps:
      # - name: Start
      #   run: |
      #     echo "${{ toJson(github.event.inputs) }}"
      - name: Checkout code
        uses: actions/checkout@v6
      - uses: pnpm/action-setup@v4

      - name: Use Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 20.x
          cache: 'pnpm'

      - name: Corepack
        run: corepack enable

      - name: Update Root
        run: |
          pnpm i --no-frozen-lockfile
          pnpm up
          pnpm up -r
          pnpm up -w

      - name: Install
        run: pnpm install

      - name: PR Body
        id: body
        uses: streetsidesoftware/actions/public/pr-body@v1
        with:
          title: Update Dependencies
          path: package.json

      - name: PR
        uses: streetsidesoftware/actions/.github/actions/pr@v1
        with:
          commit-message: 'ci: Workflow Bot -- Update ALL Dependencies'
          branch: ${{ env.NEW_BRANCH }}
          body: ${{ steps.body.outputs.body }}
          app_id: ${{ secrets.AUTOMATION_APP_ID }}
          app_private_key: ${{ secrets.AUTOMATION_PRIVATE_KEY }}
# cspell:ignore streetsidesoftware
